<div class="container" id="header-container">
    <div class="row">
        <div class="col-lg-4" id="scraper-graphic">
            <img src="/assets/images/Onion.png">
        </div>
        <div class="col-lg-8" id="scraper-header">
            <header><h1>Peeling the Onion</h1></header>
        </div>
        <div class="row">
            <h4>**Unauthorized Onion Scaper, for class project only</h4>
        </div>
    </div>
</div>



<div class="container">
    {{#each Article}}
    <div class="panel panel-success">
        <div class="panel-heading">{{Article.title}}</div>
        <div class="panel-body">
            {{Article.link}}
        </div>
    </div>
    {{/each}}
</div>
