<div class="container" id="header-container">
    <div class="row">
        <div class="col-lg-4" id="scraper-graphic">
            <img src="/assets/images/Onion.png">
        </div>
        <div class="col-lg-8" id="scraper-header">
            <header><h1>Peeling the Onion</h1></header>
        </div>
        <div class="row">
            <h4>**Unauthorized Onion Scaper, for class project only</h4>
        </div>
    </div>
</div >



<div class="container">
<h1>HELLO WORLD</h1>

<h2>THIS IS A SCRAPER, DO YOU LIKE IT?</h2>

<h3>scrape,scrape,scrape,scrape,scrape</h3>
</div>
