
<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-8">
                <h1 class="display-4 font-weight-normal">Peeling the Onion</h1>
            </div>
            <div class="col-md-4">
                <img src="/assets/images/Onion.png">
            </div>
        </div>
        <p class="lead font-italic">**Unauthorized Onion Scraper, for class project only.</p>
    </div>
</div>


<div class ="container">
    {{#each articles}}
        <div class="card">
            <div class="card-header">
                <h4>{{this.title}}</h4>
            </div>
            <div class="card-body">
                <a href ="{{this.link}}"><h5 class="card-title">{{this.link}}</h5></a>
                <p class="card-text">Place Summary Here</p>
                <a href="#" class="btn btn-success" id="noteBtn">Notes</a>
        </div>
    </div>
    <br>
       
    {{/each}}

